.login {
    align-items: center;
    margin: 30px 0 10px;
    padding: 10px 0;
    flex-grow: 1;
    max-width: 350px;
    .loginForm {
      background-color: #fff;
      border: 1px solid #dbdbdb;
      border: 1px solid rgba(219, 219, 219, 1);
      border-radius: 8px;
      height: 380px;
  
      h1 {
        margin: 22px auto 12px auto;
        height: 51px;
        font-weight: 600;
        width: 175px;
        text-align: center;
        letter-spacing: 1.5px;
      }
      .formGroup {
        margin: 10px 0;
        max-width: 350px;
        width: 100%;
  
        form {
          width: 80%;
          margin: 0 auto;
  
          .inputGroup {
            margin-top: 8px;
            border: 1px solid rgb(219, 219, 219);
            input {
              width: 100%;
              background: rgb(250, 250, 250);
              border: 0;
              padding: 12px 0 10px 10px;
              color: #ccc3c3;
              font-size: 12px;
              letter-spacing: 1.4px;
              &:focus {
                outline: none;
              }
            }
          }
          button {
            width: 100%;
            margin-top: 10px;
            background-color: #3295f6;
            border: none;
            font-weight: 600;
            color: white;
            padding: 7.8px 9px;
            border-radius: 3px;
            cursor: pointer;
          }
        }
      }
    }
    .signIn {
      align-items: center;
      background-color: #fff;
      background-color: rgb(255, 255, 255);
      border: 1px solid #dbdbdb;
      border: 1px solid rgb(219, 219, 219);
      border-radius: 1px;
      margin: 15px 0 10px;
      padding: 20px 0;
      border-radius: 8px;
      text-align: center;
  
      p {
        margin: 0;
      }
    }
  }
  